.font-red-hat-display {
  font-family: 'Red Hat Display', sans-serif !important;
}

footer {
  background-color: #1E293B !important;
  padding-top: 50px;
  padding-bottom: 70px;
}

footer {
  background: #0f0f0f;
  padding-top: 50px;
  padding-bottom: 70px;
}

footer .logo {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #fafafd;
}

footer .social-media {
  margin-top: 55px;
}

footer .copyright {
  font-family: 'Red Hat Display', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #fafafd;
  margin-top: 20px;
}

footer .nav-footer p {
  font-weight: 700 !important;
  font-family: 'Red Hat Display', sans-serif !important;
  font-size: 20px;
  line-height: 135%;
  color: #fafafd;
}

footer .nav-footer a {
  font-weight: 400 !important;
  font-family: 'Red Hat Display', sans-serif !important;
  font-size: 20px;
  line-height: 135%;
  color: #fafafd;
}

footer li {
  margin-bottom: 16px;
}

footer li a {
  text-decoration: none;
}