.hero {
  padding: 80px 0;
  background-color: #1E293B;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.hero p {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.hero .action-button {
  display: flex;
  gap: 12px;
}

.hero .action-button .btn-primary {
  background-color: #0ec8f8;
  border: 1px solid #0ec8f8;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 12px;
}

.hero .action-button .btn-secondary {
  background-color: unset;
  border: 1px solid #0ec8f8;
  font-size: 16px;
  border-radius: 8px;
  padding: 8px 12px;
}